$bg-gradient: linear-gradient(-3deg, #000, #000 25%, #ffb6ff, #b344ff, #000 75%, #000);
$bg-gradient-red: linear-gradient(-3deg, #000, #000 25%, #ffb6b6, #fd3535, #000 75%, #000);
$bg-gradient-blue: linear-gradient(-3deg, #000, #000 25%, #bfc1ff, #2c3bfd, #000 75%, #000);
$bg-gradient-green: linear-gradient(-3deg, #000, #000 25%, #bafabb, #1fff26, #000 75%, #000);
.title-container {
  @apply relative w-full z-50 flex flex-row items-center justify-center;
  width: 100vw;
  background: $bg-gradient;
}
.title-container-blue {
  background: $bg-gradient-blue;
}

.title-text {
  @apply text-6xl w-full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  mix-blend-mode: darken;
}

.intro-text {
  color: #06EB00;
  mix-blend-mode: normal;
}

.container {
  width: 100vw;
  height: 250vh;
  background: $bg-gradient;
}
.container-red{
  width: 100vw;
  height: 250vh;
  background: $bg-gradient-red;
}
.container-green{
  width: 100vw;
  height: 300vh;
  background: $bg-gradient-green;
}

.text {
  width: 100vw;
  height: 100vh;
  font-size: 56px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  color: #fff;
  background: #000;
  mix-blend-mode: darken;
}

.txt {
  padding: 0 12.5vw;
  line-height: 1.25em;
}
