@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

@font-face {
  font-family: "ZpixLite";
  src: url('./fonts/zpix-lite.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHansLite";
  src: url('./fonts/SourceHanSansCN-Lite.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHans";
  src: url('./fonts/SourceHanSansCN-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
